<form action="/cart" method="POST">
    <input name="_csrf" type="hidden" value="<%= csrfToken %>">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>